<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<footer class="mt-auto text-white-50" th:fragment="footer">-->
<!--    <p>Copyright 2022. hoiae All rights reserved.</p>-->
<!--</footer>-->

<footer style="margin-top: 100px;">
    <h1 class="d-none">footer</h1>

    <nav>
        <h1 class="d-none">sns</h1>
        <div class="instagram"><a href="" class="btn-instagram">instagram</a></div>
        <div class="twitter"><a href="" class="btn-twitter">twitter</a></div>
        <div class="facebook"><a href="" class="btn-facebook">facebook</a></div>
    </nav>

    <article class="footer-info">
        <h1 class="d-none">info</h1>
        <div>
            <div>상호명 : 마이굿즈 </div>
            <div>대표자명 :hoiae </div>
            <div>사업자등록번호: 000-00-00000 </div>
            <div>직업정보제공사업 신고번호: J0000000000000 </div>
            <div>통신판매업 신고번호 : 2021-서울서초-0000호 </div>
            <div>주소 : 서울특별시 서초구 강남대로 00길 10 000호 </div>
            <div>전화번호 : 02-000-0000 </div>
            <div>이메일 : admin@mygoods.com </div>
        </div>
    </article>
</footer>

</body>
</html>