<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/event.js}"></script>
</head>
<body>

<header class="mb-auto" th:fragment="header(menu)">
  <div style="display: flex; justify-content:space-between;">
<!--      <h3 style="margin-left: 100px">mygoods</h3>-->
      <div style="max-height: 36px">
          <a th:href="@{/}">
            <img th:src="@{/image/Logo.png}" alt="Logo" height="50px">
          </a>
      </div>
    <nav style="margin-right: 100px" class="nav nav-masthead justify-content-center float-md-end ">
      <a class="nav-link fw-bold py-1 px-0" th:classappend="${menu} == 'index'?'active':''" aria-current="page" th:href="@{/}">Home</a>

      <a class="nav-link fw-bold py-1 px-0" th:classappend="${menu} == 'product'?'active':''" th:href="@{/product}">product</a>
        <a class="nav-link fw-bold py-1 px-0" th:classappend="${menu} == 'admin'?'active':''" th:href="@{/admin}">admin</a>
      <a class="nav-link fw-bold py-1 px-0" th:classappend="${menu} == 'member'?'active':''" th:href="@{/member/mypage}">MyPage</a>
    </nav>

      <span class="nav-link py-1 px-0">
            <div class="login-area">
                <!-- 로그인이 필요한 경우 -->
                <th:block sec:authorize="isAnonymous()">
                    <div class="btns">
                        <input type="button" class="btn btn-danger py-1" value="로그인" id="login">
                    </div>
                </th:block>

                <th:block sec:authorize="isAuthenticated()">
                    <span class="login-info">
                        <span>

                            <span  sec:authentication="principal.nickname">
                            </span> <span>님</span>
                            <span class="btns">
                            <input  style="font-size:2px" type="button" class="btn btn-outline-secondary py-1 px-0 " value="정보수정" id="updateMember">
                            <input  style="font-size:2px" type="button" class="btn btn-outline-secondary py-1 px-0" value="로그아웃" id="logout">
                            </span>
                        </span>
                    </span>
                </th:block>
            </div>
        </span>
  </div>

</header>

</body>
</html>