<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<settings>
		<setting name="callSettersOnNulls" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" /> 
	</settings>

	<typeAliases>
		<typeAlias alias="MemberDTO" type="com.hoiae.mygoods.member.dto.MemberDTO" />
		<typeAlias alias="FindOrderDTO" type="com.hoiae.mygoods.member.dto.FindOrderDTO" />
		<typeAlias alias="OrderHistoryDTO" type="com.hoiae.mygoods.member.dto.OrderHistoryDTO" />

	</typeAliases>

	<mappers>
		<mapper resource="MemberMapper.xml" />
	</mappers>

</configuration>