<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
      body {
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 40px;
        background-color: #212529;
        color: white;
      }
  </style>
</head>
<body>

        <h1 style="margin-bottom:30px;">나의 캐릭터</h1>
        <main class="justify-content-center ms-3">
        <div th:each="character:${ characterList }">

            <div th:if="${character == null}"> 조회된 데이터가 없습니다.></div>
            <div style="float:left; margin-bottom: 8px" th:if="${character != null}">
<!--                <img th:src="${character.characterImageURL}" alt="dd" width="300px" height="300px"/>-->
<!--                <img th:src="'/change/'+${character.characterImageURL}" alt="dd" width="300px" height="300px" />-->
<!--                <div th:text="${character.characterImageURL}"></div>-->
<!--                <div th:text="'D:/mygoods/src/main/resources/upload/change/'+${character.characterImageURL}"></div>-->
                <div class="container">

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card" style="width: 18rem;">
                                <img th:src="'/change/'+${character.characterImageURL}" alt="img" width="300px" height="300px" class="card-img-top rounded float-start" style="margin: 5px;">
<!--                                <div class="card-body">-->
<!--                                    <p class="card-text text-white"></p>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        <table class="table table-dark table-striped table-hover">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>이미지</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="character:${characterList}">-->
<!--                <td th:if="${character == null}"> 조회된 데이터가 없습니다.</td>-->

<!--                <td th:if="${character != null}">-->
<!--&lt;!&ndash;                    <td th:text="${character.characterImageURL}">주문코드</td>&ndash;&gt;-->
<!--                    <img th:src="${character.characterImageURL}" alt="dd" width="300px" height="300px"/>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
    </main>

</body>
</html>