<!doctype html>
<html xmlns:th="http://thymeleaf.org" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/js/event.js}"></script>
    <title>mygoods</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="cover.css" rel="stylesheet">



    <link href="/css/jquery-Jcrop-min.css" rel="stylesheet">
    <link href="/css/bootstrap-min.css" rel="stylesheet">

</head>
<body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header th:replace="common/header::header('product')"></header>

    <main class="px-3">

        <div class="row">
            <div class="col-sm-6">
                <h2>캐릭터 만들기</h2>
                <img id="imgThumbnail" width="200" height="200" src="image/LogoBox.png" />
                <img style="display: none" id="createdImg" width="200" height="200" src="image/LogoBox.png" />
                <a href="#" id="btnSelectThumbnail">사진 등록</a>
                <a href="#" id="btnRemoveThumbnail">사진 제거</a>
            </div>
        </div>


        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-fullsize">
                <div class="modal-content modal-fullsize">
<!--                    <div class="modal-body padding-5">-->
                        <div>
                            <div id="jcrop"></div>
                            <canvas id="canvas" style="display: none;"></canvas>
                            <input id="png" type="hidden" style="display: none;" />
                        </div>
<!--                    </div>-->
                    <div class="modal-footer padding-5">

                        <form id="uploadForm2" method="post" action="/product/upload" enctype="multipart/form-data">
                            <input type="file" id= "imageInput" name="imageInput" multiple="multiple" accept=".png, .jpg, .jpeg">
                        </form>

<!--                        <input id="file" type="file" />-->
                        <a href="#" id="btnSavePhoto">저장</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="productListBox" class="card" style="display: flex; flex-direction:row; flex-wrap:wrap;"></div>


        <form id="uploadForm" method="post" action="/product/upload" enctype="multipart/form-data">
<!--            　　<input type="file" id= "imageInput" name="imageInput" multiple="multiple" accept=".png, .jpg, .jpeg">-->
            　　<button onclick="upload()" type="button" id="uploadBtn">업로드</button>
        </form>

    </main>

    <footer th:replace="common/footer::footer"></footer>



    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery-Jcrop-min.js"></script>
    <script src="/js/bootstrap-min.js"></script>

    <script>
        $(document).ready(function () {
            var _URL = window.URL || window.webkitURL;

            $("#createdImg").hide();

            $("#imageInput").change(function (e) {
                picture(this);
                var file, img;
                if ((file = this.files[0])) {
                    img = new Image();
                    img.onload = function () {
                        // var element = $(".jcrop-keymgr")[0];
                        // var element2 = document.getElementsByClassName('jcrop-keymgr')[0];

                        //element.remove();
                        // element2.remove();

                        var imgWidth = $("#jcrop").find("div.jcrop-holder").css("width");
                        var imgHeight = $("#jcrop").find("div.jcrop-holder").css("height");
                        if (this.width > 100) {
                            var elementagain = $(".modal-dialog");
                            //var elementagain2 = document.getElementsByClassName('modal-dialog')[0];

                            elementagain.css("width", parseInt(imgWidth, 10) + 65);
                            elementagain.css("height", parseInt(imgHeight, 10));

                            //elementagain2.css("width", parseInt(imgWidth, 10) + 65);
                            //elementagain2.css("height", parseInt(imgHeight, 10));
                        }
                        //alert(this.width + " " + this.height);
                    };
                    img.onerror = function () {
                        //alert("not a valid file: " + file.type);
                    };
                    img.src = _URL.createObjectURL(file);
                }
            });
            var picture_width;
            var picture_height;
            var crop_max_width = 500;
            var crop_max_height = 500;
            function picture(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#jcrop, #preview").html("").append("<img  src=\"" + e.target.result + "\" alt=\"\" />");
                        picture_width = $("#preview img").width();
                        picture_height = $("#preview img").height();

                        $("#jcrop  img").Jcrop({
                            onChange: canvas,
                            onSelect: canvas,
                            boxWidth: crop_max_width,
                            boxHeight: crop_max_height,
                            minSize: [200, 200], // min crop size
                            maxSize: [500, 500], // max crop size
                            aspectRatio: 5 / 5, //keep aspect ratio
                            setSelect: [0, 0, 250, 250],
                            bgFade: true, // use fade effect
                            bgOpacity: .3, // fade opacity
                            allowSelect: false,
                        });
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            function canvas(coords) {
                var imageObj = $("#jcrop img")[0];
                var canvas = $("#canvas")[0];
                canvas.width = coords.w;
                canvas.height = coords.h;
                var context = canvas.getContext("2d");
                context.drawImage(imageObj, coords.x, coords.y, coords.w, coords.h, 0, 0, canvas.width, canvas.height);
                $("#png").val($("#canvas")[0].toDataURL('image/png'));
            }

            $('#btnSavePhoto').click(function () {
                var canvas = document.getElementById("canvas");
                var dataURL = canvas.toDataURL("image/png");
                var base64 = dataURL.replace(/^data:image\/(png|jpg|jpeg|gif);base64,/, '');
                if (isThumbnail) {
                    base64_Thumbnail = base64;
                    //SaveImage(base64_Thumbnail);
                    $("#imgThumbnail").attr("src", $("#png").val());
                }
                $('#myModal').modal('toggle');
            });

            function SaveImage(image) {
                var body = {
                    "access_token": "CBDNUCRV61AOGLK",
                    "image": image,
                };
                $.ajax({
                    url: 'http://localhost/Bingeable.API/api/Photo/ImageSave',
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    type: 'POST',
                    processData: false,
                    dataType: 'json',
                    data: JSON.stringify(body)
                }).success(function (result) {
                    debugger;
                    if (result.Success) {

                    }
                }).fail(function (result) {
                    debugger;
                    console.log("Fail:" + result);
                });
            }

            var base64_Thumbnail = "";
            var base64_Banner = "";
            var isThumbnail = false;
            var isBanner = false;
            $('#btnSelectThumbnail').click(function () {
                isThumbnail = true;
                isBanner = false;
                Reset();
                $('#myModal').modal('toggle');
            });
            $('#btnSelectBanner').click(function () {
                isThumbnail = false;
                isBanner = true;
                Reset();
                $('#myModal').modal('toggle');
            });
            $('#btnRemoveThumbnail').click(function () {
                $("#imgThumbnail").attr("src", "");
                base64_Thumbnail = "";
            });
            $('#btnRemoveBanner').click(function () {
                $("#imgBanner").attr("src", "");
                base64_Banner = "";
            });

            function Reset() {
                $("#png").val("");
                $("#jcrop").empty();
                $(".modal-dialog").css("width", 600);
                var canvas = document.getElementById('canvas');
                var context = canvas.getContext('2d');
                context.clearRect(0, 0, canvas.width, canvas.height);
            }
        });

    </script>


    <script>
        function upload() {
            const imageInput = $("#imageInput")[0];
            // 파일을 여러개 선택할 수 있으므로 files 라는 객체에 담긴다.
            console.log("imageInput: ", imageInput.files)

            if(imageInput.files.length === 0){
                alert("파일은 선택해주세요");
                return;
            }



            const formData = new FormData();

            console.log("formdata : ",formData );


            console.log(imageInput.files[0]);
            formData.append("image", imageInput.files[0]);

            for (let key of formData.keys()) {
                console.log("key : ", key);
            }
            for (let value of formData.values()) {
                console.log("value : ",value);
            }


            $.ajax({
                type:"POST",
                entryType : "multipart/form-data",
                url: "/product/upload",
                processData: false,
                contentType: false,
                data: formData,
                success: function(rawData){
                    const results = JSON.parse(rawData);
                    console.log(results.result);
                    // $("#productListBox").append("<img src='" + "data:image/jpg;base64," + result.img + "'>");

                    let cardStyleElements = "<div style=\"width: 200px; height: 300px;\">\n" +
                        "<img style='width:200px; height: 200px;' src='" + "data:image/jpg;base64," + results.img + "'>" +
                        "  <div style=\"height: 100px;\">\n" +
                        "    <div>상품명은 여기에 작성</div>\n" +
                        "    <p>상품내용은 여기에 작성</p>\n" +
                        "    <a href=\"#\" class=\"btn btn-dark\">구매하기 버튼</a>\n" +
                        "  </div>\n" +
                        "</div>"

                    $("#createdImg").show();

                    for(let i = 0; i<6; i++){
                        $("#productListBox").append(cardStyleElements);
                    }

                },
                err: function(err){
                    console.log("err:", err)
                }
            })

        }
    </script>

</div>
</body>
</html>