<html xmlns:th="http://thymeleaf.org" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/js/event.js}"></script>
    <title>mygoods</title>



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link href="/css/bootstrap-min.css" rel="stylesheet">
    <link href="/css/jquery-Jcrop-min.css" rel="stylesheet">
    <link href="/css/cover.css" rel="stylesheet">
    <script src="https://js.tosspayments.com/v1"></script>

</head>
<body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="common/header::header('product')"></header>
    <main class="px-3">
        <div style="display: flex; align-content: center" class="row">
            <div class="col-sm-6" style="display: flex; flex-direction: column; align-items : center;">
                <h2>캐릭터 만들기</h2>


                <div>
                    <img id="imgThumbnail" width="200" height="200" src="image/LogoBox.png"/>
                    <img style="display: none" id="createdImg" width="200" height="200" src="image/LogoBox.png"/>
                </div>

                <div>
                    <button class="btn-success"  id="btnSelectThumbnail">사진 등록</button>
                    <button class="btn-danger" id="btnRemoveThumbnail">사진 제거</button>
                </div>





            </div>


            <div style="display: flex; flex-direction: column; align-items: center">

                <div>캐릭터 모델 선택</div>
                <select class="form-control" id="modelSelect">
                    <option value="디즈니필터">디즈니필터</option>
                    <option value="초상화 Hosoda">초상화 Hosoda</option>
                    <option value="초상화 Hayao">초상화 Hayao</option>
                    <option value="초상화 Shinkai">초상화 Shinkai</option>
                    <option value="초상화 Paprika">초상화 Paprika</option>
                    <option value="웹툰 celeba">웹툰 celeba</option>
                    <option value="웹툰 facev1">웹툰 facev1</option>
                    <option value="웹툰 facev2">웹툰 facev2</option>
                    <option value="웹툰 paprika">웹툰 paprika</option>
                </select>

                <div>상품 선택</div>
                <select class="form-control" id="categorySelect">
                    <option value="티셔츠">티셔츠</option>
                    <option value="접시">접시</option>
                    <option value="에코백">에코백</option>
                </select>
            </div>


            <div style="display: flex; justify-content: center">
                <button class="btn btn-danger" onclick="characterUpload()" type="button" id="characterUploadBtn">캐릭터 생성하기</button>
                <button class="btn btn-danger" onclick="upload()" type="button" id="uploadBtn">굿즈 제작하기</button>

            </div>

        </div>

        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-fullsize">
                <div class="modal-content modal-fullsize">
                    <!--                    <div class="modal-body padding-5">-->
                    <div>
                        <div id="jcrop"></div>
                        <canvas id="canvas" style="display: none;"></canvas>
                        <input id="png" type="hidden" style="display: none;"/>
                    </div>
                    <!--                    </div>-->
                    <div class="modal-footer padding-5">

                        <form id="uploadForm2" method="post" action="/product/upload" enctype="multipart/form-data">
                            <input type="file" id="imageInput" name="imageInput" multiple="multiple"
                                   accept=".png, .jpg, .jpeg">
                        </form>

                        <!--                        <input id="file" type="file" />-->
                        <a href="#" id="btnSavePhoto">저장</a>
                    </div>
                </div>
            </div>
        </div>








        <div class="album bg-light">
            <div class="container">

                <div id="productListBox" class=" row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<!--                    <div class="col">-->
<!--                        <div class="card shadow-sm">-->
<!--                            <img src="https://placeimg.com/200/100/any">-->
<!--                            <div class="card-body">-->
<!--                                <p style="color:black">상품설명이라고 볼 수 있겠네요</p>-->
<!--                                <div class="d-flex justify-content-between align-items-center">-->
<!--                                    <div class="btn-group">-->
<!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">구매</button>-->
<!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">저장</button>-->
<!--                                    </div>-->
<!--                                    <small class="text-muted">10,000 원</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPayment" tabindex="-1" aria-labelledby="modalPaymentLabel" aria-hidden="true">
            <!--        <div class="modal fade modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalPayment">-->
            <div class="modal-dialog">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <!-- <h5 class="modal-title">Modal title</h5> -->
                        <h2 class="fw-bold mb-0 text-dark" id="modalPaymentLabel" style="margin-left:6rem">결제 정보 확인</h2>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" style="margin-left:0"></button>
                    </div>

                    <div class="modal-body p-5 pt-0">
                        <form class="" style="display: flex; flex-direction: column; justify-content: center">
                            <div class="form-floating mb-3" style="display: flex; justify-content: center">
                                <div class="card">
                                    <img src="https://upload.wikimedia.org/wikipedia/ko/b/b6/IU_Palette_final.jpg"
                                         class="card-img-top" alt="...">
                                    <div class="card-body text-dark text-left">
                                        <h5 class="card-title" style="margin-bottom:10px" id="orderName" value="1">IU goods</h5>
                                        <p class="card-text" id="amount">100원</p>
                                        <div style="display: flex; flex-direction: row; justify-content: space-between; text-align: center">
                                            <p style="margin-bottom: 0; vertical-align: center">사이즈 :</p>
                                            <select class="form-select" aria-label="Default select example" id="size" style="max-width:150px; margin-top:0.5rem">
                                                <option selected value="S">S</option>
                                                <option value="M">M</option>
                                                <option value="L">L</option>
                                                <option value="XL">XL</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="mb-2 btn btn-lg rounded-3 btn-primary" style="width:250px; margin-left:auto; margin-right:auto" type="button"
                                    id="payment-button">결제하기
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>

            function insertOrder(orderCode, orderSize, amount, date, memberCode, productCode) {
                var body = {
                    // "access_token": "CBDNUCRV61AOGLK",
                    orderCode : orderCode,
                    orderSize : orderSize,
                    amount : amount,
                    date : new Date(),
                    memberCode : memberCode,
                    productCode : productCode
                };
                $.ajax({
                    url: 'http://localhost:8080/payment/order',
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    type: 'POST',
                    processData: false,
                    dataType: 'json',
                    data: JSON.stringify(body)
                }).success(function (result) {
                    debugger;
                    if (result.Success) {

                    }
                }).fail(function (result) {
                    debugger;
                    console.log("Fail:" + result);
                });
            }

            const generateRandomString = (num) => {
                const characters ='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
                let result = '';
                const charactersLength = characters.length;
                for (let i = 0; i < num; i++) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }
                return result;
            }

            let clientKey = 'test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq'
            let tossPayments = TossPayments(clientKey)
            let orderName = document.getElementById('orderName').textContent.toString() + '/' + document.getElementById('size').value.toString();
            let orderSize = document.getElementById('size').value.toString();
            let amount = document.getElementById('amount').textContent.toString().replace('원', '')
            amount = parseInt(amount.replace(',', ''));
            let button = document.getElementById('payment-button') // 결제하기 버튼
            let orderId = generateRandomString(40);
            let productCode = document.getElementById('orderName').value;


            button.addEventListener('click', function () {
                console.log(amount);
                console.log(orderId);
                console.log(orderName);
                insertOrder(orderId, orderSize, amount, new Date(), 12, productCode);

                tossPayments.requestPayment('카드', {
                    amount: amount,
                    orderId: orderId,
                    orderName: orderName,
                    customerName: 'hoiae',
                    successUrl: 'http://localhost:8080/payment/success',
                    failUrl: 'http://localhost:8080/payment/fail',
                })
            })
        </script>

    </main>

    <footer th:replace="common/footer::footer"></footer>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery-Jcrop-min.js"></script>
    <script src="/js/bootstrap-min.js"></script>




    <script>
        function upload() {
            const imageInput = $("#imageInput")[0];
            // 파일을 여러개 선택할 수 있으므로 files 라는 객체에 담긴다.
            console.log("imageInput: ", imageInput.files)

            if (imageInput.files.length === 0) {
                alert("파일은 선택해주세요");
                return;
            }


            const formData = new FormData();

            console.log("formdata : ", formData);


            console.log(imageInput.files[0]);


            let categoryName = $("#categorySelect option:selected").val();
            let modelName = $("#modelSelect option:selected").val();

            console.log("선택된 카테고리 코드 : "  + categoryName);
            console.log("선택된 모델 코드 : "  + categoryName);

            formData.append("image", imageInput.files[0]);
            formData.append("categoryName",categoryName);
            formData.append("modelName",modelName);


            for (let key of formData.keys()) {
                console.log("key : ", key);
            }
            for (let value of formData.values()) {
                console.log("value : ", value);
            }


            $.ajax({
                type: "POST",
                entryType: "multipart/form-data",
                url: "/product/upload",
                processData: false,
                contentType: false,
                data: formData,
                success: function (rawData) {
                    const results = JSON.parse(rawData);
                    console.log(results.result);
                    console.log(results.img);
                    // $("#productListBox").append("<img src='" + "data:image/jpg;base64," + result.img + "'>");


                    let cardStyleElements = " <div class=\"col py-3\">\n" +
                        "                        <div class=\"card shadow-sm\">\n" +
                        "                            <img class='img-fluid' src='" + "data:image/jpg;base64," + results.img + "'>\n" +
                        "                            <div class=\"card-body\">\n" +
                        "                                <p style=\"color:black\">상품설명이라고 볼 수 있겠네요</p>\n" +
                        "                                <div class=\"d-flex justify-content-between align-items-center\">\n" +
                        "                                    <div class=\"btn-group\">\n" +
                        "                                        <button type=\"button\" class=\"btn btn-sm btn-outline-secondary\" id=\"payFor\" data-toggle=\"modal\" data-target=\"#modalPayment\">구매</button>\n" +
                        "                                        <button type=\"button\" class=\"btn btn-sm btn-outline-secondary\">저장</button>\n" +
                        "                                    </div>\n" +
                        "                                    <small class=\"text-muted\">10,000 원</small>\n" +
                        "                                </div>\n" +
                        "                            </div>\n" +
                        "                        </div>\n" +
                        "                    </div>"

                    $("#productListBox").append(cardStyleElements);
                    $("#createdImg").show();


                },
                err: function (err) {
                    console.log("err:", err)
                }
            })

        }

    </script>

<!-- ===========================================캐릭터 생성 스크립트=====================================-->


    <script>
        function characterUpload() {
            const imageInput = $("#imageInput")[0];
            // 파일을 여러개 선택할 수 있으므로 files 라는 객체에 담긴다.
            console.log("imageInput: ", imageInput.files)

            if (imageInput.files.length === 0) {
                alert("파일은 선택해주세요");
                return;
            }


            const formData = new FormData();

            console.log("formdata : ", formData);


            console.log(imageInput.files[0]);


            formData.append("image", imageInput.files[0]);



            for (let key of formData.keys()) {
                console.log("key : ", key);
            }
            for (let value of formData.values()) {
                console.log("value : ", value);
            }



            $.ajax({
                type: "POST",
                entryType: "multipart/form-data",
                url: "/product/character",
                processData: false,
                contentType: false,
                data: formData,
                success: function (rawData) {
                    const results = JSON.parse(rawData);
                    console.log(results.result);
                    console.log(results.img);


                    $("#createdImg").attr("src","data:image/jpg;base64," + results.img);
                    $("#createdImg").show();


                },
                err: function (err) {
                    console.log("err:", err)
                }
            })

        }
    </script>




    <!--================================ jcrop==============================-->
    <script>
        $(document).ready(function () {
            var _URL = window.URL || window.webkitURL;

            $("#createdImg").hide();

            $("#imageInput").change(function (e) {
                picture(this);
                var file, img;
                if ((file = this.files[0])) {
                    img = new Image();
                    img.onload = function () {
                        // var element = $(".jcrop-keymgr")[0];
                        // var element2 = document.getElementsByClassName('jcrop-keymgr')[0];

                        //element.remove();
                        // element2.remove();

                        var imgWidth = $("#jcrop").find("div.jcrop-holder").css("width");
                        var imgHeight = $("#jcrop").find("div.jcrop-holder").css("height");
                        if (this.width > 100) {
                            var elementagain = $(".modal-dialog");
                            //var elementagain2 = document.getElementsByClassName('modal-dialog')[0];

                            elementagain.css("width", parseInt(imgWidth, 10) + 65);
                            elementagain.css("height", parseInt(imgHeight, 10));

                            //elementagain2.css("width", parseInt(imgWidth, 10) + 65);
                            //elementagain2.css("height", parseInt(imgHeight, 10));
                        }
                        //alert(this.width + " " + this.height);
                    };
                    img.onerror = function () {
                        //alert("not a valid file: " + file.type);
                    };
                    img.src = _URL.createObjectURL(file);
                }
            });
            var picture_width;
            var picture_height;
            var crop_max_width = 500;
            var crop_max_height = 500;

            function picture(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#jcrop, #preview").html("").append("<img  src=\"" + e.target.result + "\" alt=\"\" />");
                        picture_width = $("#preview img").width();
                        picture_height = $("#preview img").height();

                        $("#jcrop  img").Jcrop({
                            onChange: canvas,
                            onSelect: canvas,
                            boxWidth: crop_max_width,
                            boxHeight: crop_max_height,
                            minSize: [300, 300], // min crop size
                            maxSize: [512, 512], // max crop size
                            aspectRatio: 5 / 5, //keep aspect ratio
                            setSelect: [0, 0, 250, 250],
                            bgFade: true, // use fade effect
                            bgOpacity: .3, // fade opacity
                            allowSelect: false,
                        });
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function canvas(coords) {
                var imageObj = $("#jcrop img")[0];
                var canvas = $("#canvas")[0];
                canvas.width = coords.w;
                canvas.height = coords.h;
                var context = canvas.getContext("2d");
                context.drawImage(imageObj, coords.x, coords.y, coords.w, coords.h, 0, 0, canvas.width, canvas.height);
                $("#png").val($("#canvas")[0].toDataURL('image/png'));
            }

            $('#btnSavePhoto').click(function () {
                var canvas = document.getElementById("canvas");
                var dataURL = canvas.toDataURL("image/png");
                var base64 = dataURL.replace(/^data:image\/(png|jpg|jpeg|gif);base64,/, '');
                if (isThumbnail) {
                    base64_Thumbnail = base64;
                    //SaveImage(base64_Thumbnail);
                    $("#imgThumbnail").attr("src", $("#png").val());
                }
                $('#myModal').modal('toggle');
            });

            function SaveImage(image) {
                var body = {
                    "access_token": "CBDNUCRV61AOGLK",
                    "image": image,
                };
                $.ajax({
                    url: 'http://localhost/Bingeable.API/api/Photo/ImageSave',
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    type: 'POST',
                    processData: false,
                    dataType: 'json',
                    data: JSON.stringify(body)
                }).success(function (result) {
                    debugger;
                    if (result.Success) {

                    }
                }).fail(function (result) {
                    debugger;
                    console.log("Fail:" + result);
                });
            }

            var base64_Thumbnail = "";
            var base64_Banner = "";
            var isThumbnail = false;
            var isBanner = false;
            $('#btnSelectThumbnail').click(function () {
                isThumbnail = true;
                isBanner = false;
                Reset();
                $('#myModal').modal('toggle');
            });
            $('#btnSelectBanner').click(function () {
                isThumbnail = false;
                isBanner = true;
                Reset();
                $('#myModal').modal('toggle');
            });
            $('#btnRemoveThumbnail').click(function () {
                $("#imgThumbnail").attr("src", "");
                base64_Thumbnail = "";
            });
            $('#btnRemoveBanner').click(function () {
                $("#imgBanner").attr("src", "");
                base64_Banner = "";
            });

            function Reset() {
                $("#png").val("");
                $("#jcrop").empty();
                $(".modal-dialog").css("width", 600);
                var canvas = document.getElementById('canvas');
                var context = canvas.getContext('2d');
                context.clearRect(0, 0, canvas.width, canvas.height);
            }
        });

    </script>

</div>

</body>
</html>